<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Matcha - Profile</title>
     <%- css.style %>
</head>     
<body background=../background.png>
<% include header.ejs %>
    <h2> Your profile </h2>
    <div id="page_profile_div">
        <form id="photo_case" class="cadre_profil">
            <div  class="div_photo">
                Photo de profil
                <img src="https://pp.userapi.com/c636218/v636218955/3a3f5/oGMsEyLeTZs.jpg" class="photo" id="profile_photo">
                <input type="file" name="upload" value="upload" id="upload" accept="image/*">
            </div>
            <div class="div_photo">
                <img src="https://pp.userapi.com/c636218/v636218955/3a3f5/oGMsEyLeTZs.jpg" class="photo">
                <input type="file" name="upload" value="upload" id="upload" accept="image/*">
            </div>
            <div class="div_photo">
                <img src="https://pp.userapi.com/c636218/v636218955/3a3f5/oGMsEyLeTZs.jpg" class="photo">
                <input type="file" name="upload" value="upload" id="upload" accept="image/*">
            </div>
             <div class="div_photo">
                <img src="https://pp.userapi.com/c636218/v636218955/3a3f5/oGMsEyLeTZs.jpg" class="photo">
                <input type="file" name="upload" value="upload" id="upload" accept="image/*">
            </div>
            <div class="div_photo">
                <img src="https://pp.userapi.com/c636218/v636218955/3a3f5/oGMsEyLeTZs.jpg" class="photo">
                <input type="file" name="upload" value="upload" id="upload" accept="image/*">
            </div>
        </form>
       <form action="/profile" method="post">
            <select name="edit" id='modifyuserlist' onchange="placeholder()">
                <option value='1'> Login </option>
                <option value='2'> Firstname </option>
                <option value='3'> Lastname </option>
                <option value='4'> Password </option>
                <option value='5'> Email </option>
            </select>
            <input type="text" name="changement" id='modifyuser'>
            
            <input type="submit" name="general" value="Modify">
        </form>
        <form action="/profile" method="post">
            Sexual Orientation :
             <select name="edit">
                <option> none </option>
                <option> Heterosexual </option>
                <option> Bisexual </option>
                <option> Bicurious </option>
                <option> Homosexual </option>
                <option> Pansexual </option>
                <option> Demisexual </option>
                <option> Heteronormative </option>
                <option> Polyamorous </option>
                <option> Grey Asexual </option>
                <option> Asexual </option>
                <option> Questioning </option>
                <option> Other </option>
                <option selected> Antoine ;)</option>
            <input type="submit" name="orientation" value="Modify">
        </form>
    </div>
    <% if (typeof error !== 'undefined' && error && error !== 'none') { %> <div id=error><strong>Error: <%- error %></strong></div> <% } %>
    <% if (typeof success !== 'undefined' && success) { %> <div id=success><strong>Success: <%- success %></strong></div> <% } %>
</body></html>

<script>
    window.onload = placeholder();
    function placeholder() {
        var s = document.getElementById("modifyuserlist").value;
        if (s == '1')
            var i = '<%- profile.login %>'
        else if (s == '2')
            var i = '<%- profile.firstname %>'
        else if (s == '3')
            var i = '<%- profile.lastname %>'
        else if (s == '4')
            var i = 'New Password'
        else if (s == '5')
            var i = '<%- profile.email %>'
        document.getElementById("modifyuser").placeholder = i; }
</script>